<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">

    <test name="eCommerce Test Admin Dashboard">
        <classes>
<!--            <class name="com.belajartestng.authentication.SignInTestAdmin"/>-->
            <class name="com.belajartestng.categorys.CategorysTestAdmin"/>
        </classes>
    </test>

</suite>
